apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: notes-postgresql
spec:
  serviceName: notes-postgresql
  replicas: 1
  selector:
    matchLabels:
      app: notes-postgresql
  template:
    metadata:
      labels:
        app: notes-postgresql
    spec:
      containers:
        - name: postgresql
          image: postgres:17-alpine
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: notes-postgresql
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
            - name: init-scripts
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: init-scripts
          configMap:
            name: notes-postgresql-init
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
