- name: Configure sysctl limits
  hosts: nodes
  become: true
  tasks:
    - name: Increase inotify limits
      ansible.posix.sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        sysctl_file: /etc/sysctl.d/99-inotify.conf
        reload: true
      loop:
        - { name: fs.inotify.max_user_watches, value: "524288" }
        - { name: fs.inotify.max_user_instances, value: "1024" }
