image:
  repository: registry.gitlab.com/gartmeier/notes/frontend
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik
  host: notes.gartmeier.dev

resources:
  requests:
    cpu: 50m
    memory: 32Mi
  limits:
    memory: 64Mi
